.pedido{
    background-color: #FFF;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(243, 243, 243);
    padding: 15px;
}

.pedido a{
    cursor: pointer;
}

.foto-item{
    max-width: 60px;
}